<!DOCTYPE html>
<th:block th:replace="~{fragments/starter::thymeleafThema}"></th:block>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <th:block th:replace="~{fragments/starter::style}"></th:block>



</head>

<body>

    <th:block th:replace="~{fragments/navbar::navbar}"></th:block>

    <main>
        <section>
            <div class="container " th:object="${ingredient}">
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 100%;">

                        <div class="card-body">
                            <h5 class="card-title" th:text="|Ingrediente:*{name}|"></h5>
                            <a th:href="@{'/home'}" class="btn btn-primary">torna alla home</a>
                        </div>
                    </div>

                </div>


            </div>
        </section>


    </main>

</body>

</html>