<!DOCTYPE html>
<th:block th:replace="~{fragments/starter::thymeleafThema}"></th:block>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <th:block th:replace="~{fragments/starter::style}"></th:block>



</head>
<body>
    
    <th:block th:replace="~{fragments/navbar::navbar}"></th:block>
    <div class="container">
        <h1>Benvenuti nella mia pizzeria!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ipsam! Delectus praesentium, aut similique porro vel eum culpa numquam accusantium aperiam. Amet consectetur iure eos pariatur dolores delectus, recusandae asperiores.</p>
    </div>
    
</body>
</html>