<!DOCTYPE html>
<th:block th:replace="~{fragments/starter::thymeleafThema}"></th:block>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <th:block th:replace="~{fragments/starter::style}"></th:block>



</head>

<body>

    <th:block th:replace="~{fragments/navbar::navbar}"></th:block>

    <main>
        <section>
            <div class="container ">

                <form id="pizza-form" th:action="${edit} ? @{/pizzas/edit/{id}(id=${pizza.id})} : @{/pizzas/create}"
                    th:object="${pizza}" method="post">
                    <div class="mb-3">
                        <label class="form-label" for="name">Nome Pizza:</label>
                        <input th:errorClass="is-invalid" class="form-control" type="text" id="name" th:field="*{name}">
                        <ul class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                            <li th:each="error : ${#fields.errors('name')}">[[${error}]]</li>
                        </ul>
                    </div>

                    <div class="mb-3">
                        <div class="single-ingredient form-check" th:each="ingredient : ${ingredients}">
                            <input type="checkbox" th:id="|ingredient-${ingredient.id}|"
                                th:field="${pizza.ingredients}" th:value="${ingredient.id}">
                            <label th:for="|ingredient-${ingredient.id}|" class="form-check-label"
                                th:text="${ingredient.name}"></label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="imgUrl">Immagine:</label>
                        <input th:errorClass="is-invalid" class="form-control" type="text" id="imgUrl"
                            th:field="*{imgUrl}">
                        <ul class="invalid-feedback" th:if="${#fields.hasErrors('imgUrl')}">
                            <li th:each="error : ${#fields.errors('imgUrl')}">[[${error}]]</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="price">Prezzo:</label>
                        <input th:errorClass="is-invalid" class="form-control" type="number" id="price"
                            th:field="*{price}">
                        <ul class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                            <li th:each="error : ${#fields.errors('price')}">[[${error}]]</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Descrizione:</label>
                        <textarea th:errorClass="is-invalid" id="description" class="form-control"
                            th:field="*{description}"></textarea>
                        <ul class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                            <li th:each="error : ${#fields.errors('description')}">[[${error}]]</li>
                        </ul>
                    </div>

                    <div class="mb-3 d-flex justify-content-between">
                        <input type="submit" class="btn btn-success"
                            th:value="${edit} ? 'aggiorna pizza' : 'Crea nuova pizza'">
                        <input type="reset" class="btn btn-danger" value="Resetta tutti i campi">
                    </div>


                </form>



            </div>

            </div>
        </section>


    </main>
    <th:block th:replace="~{fragments/starter::js}"></th:block>

</body>

</html>