<!DOCTYPE html>
<th:block th:replace="~{fragments/starter::thymeleafThema}"></th:block>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <th:block th:replace="~{fragments/starter::style}"></th:block>



</head>

<body>

    <th:block th:replace="~{fragments/navbar::navbar}"></th:block>

    <main>
        <section>
            <div class="container">
                <form th:action="@{/pizzas/searchByName}">
                    <div class="input-group">
                        <input placeholder="inserisci la pizza da cercare" class="form-control" type="text" name="name"
                            required>
                    </div>
                </form>
                <h1 class="my-4">Elenco pizze: </h1>
                <div class="row" th:if="${pizzas.size() > 0}">
                    <div th:each="pizza : ${pizzas}" th:object="${pizza}" class="col-md-4 mb-4">
                        <div class="card" style="width: 100%;">
                            <img th:src="*{imgUrl}" class="card-img-top" alt="foto pizza">
                            <div class="card-body">
                                <h5 class="card-title" th:text="|Pizza:*{name}|"></h5>
                                <p class="card-text" th:text="|prezzo: €*{price}|"></p>
                                <a th:href="@{pizzas + '/' +*{id}}" class="btn btn-primary">vai alla pizza</a>
                                <a th:href="@{pizzas/edit/{id}(id=*{id})}" class="btn btn-success">modifica pizza</a>
                                <!-- <a th:href="@{pizzas/{id}/specialOffer(id=*{id})}" class="btn btn-success">Offerta pizza</a> -->
                                <form th:action="@{pizzas/delete/{id}(id=${pizza.id})}" method="post">
                                    <button type="submit" class="btn btn-danger">cancella pizza</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




    </main>

</body>

</html>